<template name="comment">
  Rating: <input type="text" maxlength="1" class="comment-rating">
  <br>
  Comment: <textarea class="comment-comment"></textarea>
  <br>
  <input type="submit" value="submit" class="comment-submit">
</template>
